<div class="container">
    <div class="header-container">
        <header>
            <div class="logo-title">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="logo" height="100px">
                    </a>
                </div>
                <h2>TITULO</h2>
            </div>
        </div>
        <p class="sesion"><a href="/users/login">Iniciar sesión </a><a href="/users/register">Crear cuenta </a><i class="far fa-user"></i></p>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/products">Todos los productos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Recetados <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">De sol <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Lentes de contacto <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <a href="" class="carrito"><i class="fas fa-shopping-cart fa-2x col-sm-12 col-md-2"></i></a>
            </div>
        </nav>
    </div>