<!DOCTYPE html>
<html lang="en">
<! HEAD -->
<%- include('../partials/head') %>
<! HEAD -->

<body> 
    <! HEADER -->
    <%- include('../partials/header') %>
    <! HEADER -->
    <div class=container>
        <main>
            <div>
                <h2>Loguearse</h2>
                <form action="/users/login" method="POST" id="userLogin">
                    <div class="col-md-6 mb-3 email">
                        <label for="validationDefault03">Email</label>
                        <input type="email" class="form-control" id="validationDefault03" required value="<%= typeof data != 'undefined' ? data.email : '' %>" name="email">
                        <div class='invalid-feedback'></div>
                    </div>
                    <div class="col-md-6 mb-3 pass">
                        <label for="validationDefault05">Contraseña</label>
                        <input type="password" class="form-control" id="validationDefault05" required name="password">
                        <div class='invalid-feedback'></div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" name="recordame">
                            <label class="form-check-label" for="invalidCheck2">
                                Recordame
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Registrarse</button>
                </form>
            </div>
        </main>
    </div>
    <! FOOTER -->
    <%- include('../partials/footer') %>
    <! FOOTER -->
    
    <script src="/js/validator.js"></script>
    <script src="/js/UserLoginValidator.js"></script>
</body>
</html>