.detalle{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.imagenes{
    width: 40vw;
    border: 3px black solid;
}
.datos {
    width: 50vw;
    text-align: center;
    padding: 10px;
}
.editar{
    display: inline-block;
}